.c-single-main-bold{
    margin-bottom:352px;
    @include tab{
        margin-bottom:228px;
    }
    @include smafo{
        margin-bottom:177px;
    }
    p{
        color:$single-text-color;
        font-weight:bold;
        font-size:16px;
    }
}