.c-takeout-detail{
    width: 95%;
    height:174px;
    background-color:rgba(255,255,255,0.7);
    h4{
        padding:19px 0 0 19px;
        color:#3C2A10;
    }
    p{
        padding:26px 19px 0 19px;
        color:#3C2A10;
    }
}