.p-archive-main-section{
    width:87%;
    margin:0 auto;
    color:#3C2A10;
    &-text{
        margin:60px 0 70px;
        @include smafo{
            margin:30px 0 19px;
        }
        h2{
            font-size:36px;
            font-style: bold;
            @include smafo{
                font-size:28px;
            }
        }
        p{
            font-size:16px;
            margin-top:25px;
        }
    }
    .p-article{
        width:100%;
        &-top{
            width:100%;
            margin-bottom:30px;
            height:471px;
            display:flex;
            @include tab{
                height:354px;
            }
            @include smafo{
                display:block;
                height:585px;
            }
            .p-article__visual{
                width:50%;
                height:100%;
                @include smafo{
                    width:100%;
                    height:40%;
                }
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
            .p-burger-detail{
                width:50%;
                height:100%;
                background-color:rgb(71, 55, 40);
                color:white;
                position:relative;
                @include smafo{
                    width:100%;
                    height:60%;
                }
                h2{
                    font-size:2vw;
                    padding:53px 0 10% 63px;
                    @include tab{
                        font-size:2.7vw;
                        padding:29px 0 24px 35px;
                    }
                    @include smafo{
                        font-size:5vw;
                    }
                }
                h3{
                    padding-bottom:5px;
                    padding-left:63px;
                    @include tab{
                        padding-left:35px;
                    }
                }
                p{
                    width:84%;
                    padding-bottom:10%;
                    padding-left:63px;
                    font-size:16px;
                    @include tab{
                        padding-left:35px;
                        padding-bottom:35px;
                        font-size:1.8vw;
                    }
                    @include smafo{
                        font-size:14px;
                        padding-bottom:10%;
                    }
                }
                .detail-btn{
                    height:76px;
                    width:292px;
                    background-color:white;
                    margin:0 auto;
                    border-radius: 50px;
                    transition:all 0.8s;
                    position:absolute;
                    top:75%;
                    left:0;
                    right:0;
                    @include tab{
                        width:163px;
                        height:42px;
                    }
                    a{
                        display:block;
                        text-align: center;
                        line-height:76px;
                        text-decoration: none;
                        color:#312B1C;
                        @include tab{
                            line-height:46px;
                        }
                        &:hover{
                            opacity:0.7;
                        }
                    }
                }

            }
        }
    }
    .wp-pagenavi{
        padding:30px 0;
        a{
            color:#3C2A10;
        }
        @include smafo{
            display:flex;
            justify-content: space-between;
            span{
                display:none;
            }
            a{
                border:none;
            }
            .page{
                display:none;
            }
        }
    }
}
.p-section-page{
    width:600px;
    padding:50px 0 30px;
    margin:0 auto;
    @include tab{
        width:550px;
    }
    @include smafo{
        display:none;
    }
}
.p-page-select-btn{
    display:none;
    @include smafo{
        display:flex;
        justify-content: space-between;
        padding-bottom:31px;
    }
    a{
        text-decoration: black;
        color:#707070;
    }
}