table{
    border-collapse:collapse;
    width:100%;
    margin-bottom:40px;
    td{
        height:77px;
        padding-left:30px;
        border:solid 1px #707070;
        @include smafo{
            padding-left:5%;
        }
        &:first-child{
            width:30%;
            @include smafo{
                width:40%;
            }
        }
        &:last-child{
            width:70%;
            @include smafo{
                width:60%;
            }
        }
    }
}


