.p-page-main-heading{
    @include single-main-width;
    color:$single-text-color;
    object-fit: cover;
    h2{
        font-size:36px;
        margin:60px 0 60px;
    }
    .p-heading-text{
        font-size:16px;
        margin-bottom:60px;
    }
    h3{
        font-size:28px;
        margin-bottom:59px;
    }
    h4,h5,h6{
        font-size:20px;
        margin-bottom:59px;
    }
}