.wp-block-code{
    background-color:#F5F5F5;
    margin-bottom:50px;
    @include tab{
        margin-bottom:60px;
    }
    @include smafo{
        margin-bottom:30px;
    }
    code{
        padding:50px 0 50px 84px;
        font-size:16px;
        @include tab{
            padding-left:50px;
        }
    }
}