.c-list{
    &-first{
         margin-bottom:20px;
    }
    &-second{
        margin-bottom:20px;
        margin-left:10px;
    }
    &-third{
        margin-bottom:60px;
    }
}

ol{
    list-style: none;
    padding:0;
}