.p-single-main-html-text{
    @include single-main-width;
    background-color:#F5F5F5;
    color:$single-text-color;
    margin-bottom:50px;
    @include tab{
        margin-bottom:60px;
    }
    @include smafo{
        margin-bottom:30px;
    }
    .c-html-text{
        padding:50px 0 50px 84px;
        @include tab{
            padding-left:50px;
        }
    }
}